<nav class="navbar bg-body-tertiary bg-dark">
    <div class="container-fluid justify-content-between">
        <a routerLink="/user" style="text-decoration: none;"><h4 class="text-light me-2" type="button">Dashboard</h4></a>
        <div class="">
            <a routerLink="/user/contact" class="btn btn-sm btn-outline-success ms-3">Contact</a>
            <button type="button" (click)="logout()" class="btn btn-sm btn-outline-danger ms-3" type="button">Logout</button>
        </div>
    </div>
</nav>